black==26.5.1
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pdf2image==1.17.0
pillow==12.3.0
platformdirs==4.10.0
pytokens==0.4.1
reportlab==5.0.0
